html {
  font-size: 62.5%;
}

a:link {
  color: gray;
}

a:visited {
  color: #000;
}

body {
  font-size: 1.4rem;
}

td, th {
  padding: 0 1rem;
}

.bold {
  margin-right: 0.5rem;
  font-weight: bold;
}

.container {
  width: 95%;
  margin: 0 auto;
}
